.sec-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 50px;
}
.sec-6 > :nth-child(2){
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;

}
.menu{
    list-style: none;
    display: flex;
    font-size:100px;
    padding: 5px;
    gap: 30px;
    font-weight: 600;

}
.items{
    text-decoration: none;
    color: black;
    font-size: 20px;

}
.items:hover{
      transition:0ms;
    text-decoration: underline;
    text-decoration-color: darkorange;
    text-underline-offset: 10px;
    color: darkorange;
    cursor: pointer;
}
@media(max-width:767px){
    .sec-6 > :nth-child(1){
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
    }
    .menu{
    list-style: none;
    display: flex;
    font-size:80px;
    gap: -20px;
    font-weight: 600;
    }
    .sec-6{
         margin-top: 60px;
    }
}
@media(max-width:1024px){
    .sec-6 > :nth-child(2){
        margin-bottom: 10px;
    }

}
@media(max-width:1180px){
    .sec-6 > :nth-child(2){
        margin-bottom: 100px;

    }

}
@media(max-width:1366px){
    .sec-6 > :nth-child(2){
        margin-bottom: 600px;
        padding-bottom: 100px;
    }

}
